<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="stilius.css" />
    </head>
    <body>

        <table class="main-table">
            <tr class="menu-row">
                <td class="kupra">
                    KuPRA
                </td>

                <td class="right">
                    <a href="/prisijungti">
                        <button class="standard-button" type="button">Prisijungti </button>
                    </a>
                    <a href="/registruotis">
                        <button class="standard-button" type="button">Registruotis </button>
                    </a>
                </td>
            </tr>
        </table>
    </body>
</html>