{% extends "account/base.html" %}

{% load url from future %}
{% load bootstrap %}

{% block body_class %}account account-private{% endblock %}

{% block head_title %}Private data{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="{% url "account_private" %}">
                <legend>Privatūs duomenys</legend>
                {% csrf_token %}
                {{ form|bootstrap }}
                <button class="btn btn-primary" type="submit">Išsaugoti</button>
            </form>
        </div>
    </div>
{% endblock %}