{% extends "site_base.html" %}
{% block head_title %}
Valgiaraštis
{% endblock %}
{% block body %}
{% load formset_tags %}
{% load bootstrap %}
{% if formset|length != 0 %}
<p><a href="{% url 'missing_menu_products' %}">Ar trūksta valgiaraščio produktų?</a></p>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
{{ formset.management_form }}
{% for form in formset %}
    <p><a href="{% url 'recipe_detail' form.instance.recipe.pk %}"><b>Receptas:</b> {{ form.instance.recipe }}</a></p>
    {{ form|bootstrap }}
    <p><a href="{% url 'could_produce_recipe' form.instance.pk %}">Ar galima pagaminti?</a></p>
    <br />
{% endfor %}
<button type="submit" class="btn btn-default">Pakeisti</button>
</form>
{% else %}
<p>Valgiaraštis tuščias</p>
{% endif %}
{% endblock body %}

{% block extra_head %}
{% load static %}
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}jquery/js/jquery-2.1.1.min.js"></script>
{{formset.media}}
{% endblock %}