{% extends "site_base.html" %}
{% block head_title %}
Valgiaraštis
{% endblock %}
{% block body %}
{% load formset_tags %}
{% load bootstrap %}
{% if formset|length != 0 %}
<p>
<a href="{% url 'menu_produce' %}">Pagaminti viską</a>
</p>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
{% for form in formset %}
    <p><b>Receptas:</b> {{ form.instance.recipe }}</p>
    {{ form|bootstrap }}
    <p>
    <a href="{% url 'recipe_produce' form.instance.recipe.pk %}">Pagaminti</a>
    </p>
    <br />
{% endfor %}
<button type="submit" class="btn btn-default">Pakeisti</button>
</form>
{% else %}
<p>Valgiaraštis tuščias</p>
{% endif %}
{% endblock body %}

{% block extra_head %}
{% load static %}
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}jquery/js/jquery-2.1.1.min.js"></script>
{{formset.media}}
{% endblock %}