{% extends "site_base.html" %}
{% block body %}
{% load bootstrap %}
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form|bootstrap}}
	{{ formset.management_form}}
	<fieldset>
                <legend>Produktai</legend>
                {{ recipeproduct_form.management_form }}
                {{ recipeproduct_form.non_form_errors }}
                {% for form in recipeproduct_form %}
                    {{ form.id }}
                    <div class="{{ recipeproduct_form.prefix }}">
                        {{ form|bootstrap_horizontal }}
                    </div>
                {% endfor %}
            </fieldset>
	<button type="submit" class="btn btn-primary">Kurti</button>
{% endblock %}
