{% extends "site_base.html" %}

{% block body %}
{% load formset_tags %}
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_p }}
{%with formset=inlines.0 %}
<div id="formset" data-formset-prefix="{{ formset.prefix }}">
    {{ formset.management_form }}

    <div data-formset-body>
        <!-- New forms will be inserted in here -->
        {% for form in formset %}
            <div data-formset-form>
                {{ form }}
                <!--<button type="button" data-formset-delete-button>Delete form</button>-->
            </div>
        {% endfor %}
    </div>

    <!-- The empty form template. By wrapping this in a <script> tag, the
    __prefix__ placeholder can easily be replaced in both attributes and
    any scripts -->
    <script type="form-template" data-formset-empty-form>
        {% escapescript %}
            <div data-formset-form>
                {{ formset.empty_form }}
                <!--<button type="button" data-formset-delete-button>Delete form</button>-->
            </div>
        {% endescapescript %}
    </script>

    <!-- This button will add a new form when clicked -->
    <input type="button" value="Pridėti kitą" data-formset-add>

    <script>$(function($) {
        $("#formset").formset({
            animateForms: true
        });
    });</script>

</div>
{% endwith %}
<button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock body %}

{% block extra_head %}
{% load static %}
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
{% endblock %}
