{% extends "site_base.html" %}
{% block body %}
<h1>Receptai</h1>
<ul>
{% for recipe in object_list %}
    <li>
	    <h2>{{ recipe.name }}</h2>
	    <img src="{{ recipe.img.url }}" class="img-responsive" /><br />
	    {{ recipe.text }}
	    <a href="{% url 'recipe_detail' recipe.pk%}">Plačiau</a>
	    <a href="{% url 'add_recipe_to_menu' recipe.pk %}">Pridėti į valgiaraštį</a>
	    {% load bootstrap_pagination %}
	    {% bootstrap_paginate page_obj %}
    </li>
{% empty %}
    <li>Dar receptų nėra.</li>
{% endfor %}
</ul>
{% endblock %}
